/*
===============
Tabs
===============
*/

.btn-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition-fast);
}

.tab-btn:hover:not(.active) {
  background: hsl(226deg 20% 73%);
  color: #ffffff;
}

.tab-btn2 {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition-fast);
}

.tab-btn2:hover:not(.active) {
  background: hsl(226deg 20% 73%);
  color: #ffffff;
}

.tab-btn3 {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition-fast);
}

.tab-btn3:hover:not(.active) {
  background: hsl(226deg 20% 73%);
  color: #ffffff;
}

.tab-btn4 {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition-fast);
}

.tab-btn4:hover:not(.active) {
  background: hsl(226deg 20% 73%);
  color: #ffffff;
}

/* tabs - hide content  */
.content {
  display: none;
}

.tab-btn.active {
  background: #8f8f8f;
}

.content.active {
  display: block;
}

.content2 {
  display: none;
}

.tab-btn2.active {
  background: #8f8f8f;
}

.content2.active {
  display: block;
}

.content3 {
  display: none;
}

.tab-btn3.active {
  background: #8f8f8f;
}

.content3.active {
  display: block;
}

.content4 {
  display: none;
}

.tab-btn4.active {
  background: #8f8f8f;
}

.content4.active {
  display: block;
}
